@import "tailwindcss";

/* #191a1b54 */
:root {
    --primary-color: #121416;
    --secondary-color: #363636;

    /* Separador */
    --separator-primary: #171616ed;
    --separator-secondary: #151616;
}

@theme {
    /* Background */
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);

    /* Texto */
    --color-txt-primary: #fff;
    --color-stroke: #ffffff1a;

    /* Botones */
    --color-btn: var(--secondary-color);
    
}

@layer utilities {
    .bg-gradient-custom {
        background: linear-gradient(135deg, rgba(141, 141, 141, 0.2), rgba(255, 255, 255, 0.1));
    }
}